apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: wolkstack
  annotations:
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/issuer: "letsencrypt-staging"

spec:
  tls:
    - hosts:
        - "{{ .Values.domain_name }}"
      secretName: wolkstack-deployment-secret
  rules:
    - host: "{{ .Values.domain_name }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 3000

          - path: /api
            pathType: Prefix
            backend:
              service:
                name: backend
                port:
                  number: 5000
